[submodule "aplikacja-testujaca"]
	path = aplikacja-testujaca
        branch = main
        update = merge 
	url = https://github.com/aplikacje-internetowe-l2/aplikacja-testujaca.git
[submodule "aplikacja-glowna"]
	path = aplikacja-glowna
        branch = main
        update = merge
	url = https://github.com/aplikacje-internetowe-l2/aplikacja-glowna.git
